body.error404 {
  .page-content {
    text-align: center;
    margin-top: 70px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .heading-block-title {
      font-size: 53px;
    }
    .heading-block-separator {
      margin: 0 auto 25px;
    }
    p {
      line-height: 1.75;
      margin-bottom: 0;
    }
    form.search-form {
      margin-top: 25px;
      min-width: 500px;
      background-color: #dedede;
      padding: 25px;
      display: flex;
      flex-direction: row;
      label {
        flex: 0 1 100%;
        .screen-reader-text {
          display: none;
        }
        input[type=search] {
          margin-bottom: 0;
          padding: 0 20px;
          height: 40px;
          border: 0;
          line-height: 40px;
          vertical-align: top;
        }
      }
      input[type=submit] {
        @extend .btn;
        @extend .btn--primary;
      }
    }
  }
}