.woocommerce-breadcrumb {
  font-family: raleway-reg, 'sans-serif';
  text-transform: uppercase;
  font-size: 14px;
  font-variant-numeric: lining-nums;

  @extend .font-size--extra-small;;
  letter-spacing: 0.7px;

  a, span {
    color: var(--black-two);

    &:hover {
      color: var(--black);
    }
  }

  .breadcrumb_last {
    color: var(--greyish-blue);
  }

}

.breadcrumb {
  margin-bottom: $margin-medium;
}