footer {
  &#main-footer {
    background-color: var(--dark-blue-grey);
    padding: $margin-medium 0;

    .widget_SoMo {
      a {
        font-size: 17px;
        color: var(--pinkish-grey);
      }
    }

    a:hover {
      color: lightblue;
    }
    .widgettitle {
      font-size: 25px;
      color: var(--white);
      margin-bottom: 20px;
      @extend .heading--extra-small;
    }

    p {
      color: var(--pinkish-grey);
      margin-bottom: $margin;
      font-size: 16px;
    }

    strong {
      color: var(--white);
    }

    #menu-social {
      display: flex;
      margin-bottom: $margin-small;
    }


    li {
      > a {
        color: var(--pinkish-grey);
        line-height: 1.75;
        font-size: 16px;
      }
    }

    .footer-widget {
      > div {
        margin-bottom: 40px;
        max-width: 220px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .menu {
      list-style: none;
    }

    #footer-widget-4 a {
      font-weight: 100;
      font-size: 20px;
      color: var(--white);

      &:hover {
        color: lightblue;
      }
    }
  }
  &#top-footer {
    background-color: var(--white-two);
    padding: $margin-small 0;
    .widgettitle {
      margin-bottom: $margin;
      @extend .heading--extra-small;
    }
    #footer-top-widget-left {
      .widgettitle {
        font-family: raleway-bold, 'sans-serif' !important;
        font-size: 30px;
        color: var(--dark-blue-grey-80);
      }

      .textwidget {
        > p {
          opacity: 0.8;
          font-size: 20px;
          color: var(--greyish-blue-80);
          font-family: raleway-reg, 'sans-serif' !important;
        }
      }
    }
  }
  .gform_wrapper {
    #gfield_consent_description_1_7 {
      margin-left: 15px;
      font-family: raleway-bold, 'sans-serif' !important;
    }
    .ginput_container_consent {
      line-height: 1;
      .gfield_consent_label {
        display: inline-block;
        color: var(--faded-blue);
      }
      .gfield_required {
        padding-left: .5rem;
        color: var(--faded-blue);
      }
    }
    .gform_footer {
      @media (min-width: $desktop) {
        position: absolute;
        right: 0;
        bottom: 0;
        padding-right: 15px;
      }
      input[type=submit] {
        min-width: 100%;
        margin-top: 1rem;
        font-family: raleway-bold, 'sans-serif' !important;
      }
    }
  }
}