$icomoon-font-family: "icomoon" !default;
$ico-bin2: "\e9ad";
$ico-star-empty: "\e9d7";
$ico-star-full: "\e9d9";
$ico-cross: "\ea0f";
$ico-star-solid: "\e900";
$ico-star-regular: "\e901";
$ico-arrow-down: "\e902";
$ico-arrow-left: "\e903";
$ico-arrow-right: "\e904";
$ico-checkmark: "\e905";
$ico-download-sheet: "\e906";
$ico-info: "\e907";
$ico-linkedin: "\e908";
$ico-magnifying-glass: "\e909";
$ico-minus: "\e90a";
$ico-placemark: "\e90b";
$ico-plus: "\e90c";
$ico-quote-big: "\e90d";
$ico-shopping-basket: "\e90e";
$ico-user: "\e971";

[class^="ico-"], [class*=" ico-"], .ico {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-user {
  &:before {
    content: $ico-user;
  }
}
.ico-bin2 {
  &:before {
    content: $ico-bin2;
  }
}
.ico-star-empty {
  &:before {
    content: $ico-star-empty;
  }
}
.ico-star-full {
  &:before {
    content: $ico-star-full;
  }
}
.ico-cross {
  &:before {
    content: $ico-cross;
  }
}
.ico-star-solid {
  &:before {
    content: $ico-star-solid;
  }
}
.ico-star-regular {
  &:before {
    content: $ico-star-regular;
  }
}
.ico-arrow-down {
  &:before {
    content: $ico-arrow-down;
  }
}
.ico-arrow-left {
  &:before {
    content: $ico-arrow-left;
  }
}
.ico-arrow-right {
  &:before {
    content: $ico-arrow-right;
  }
}
.ico-checkmark {
  &:before {
    content: $ico-checkmark;
  }
}
.ico-download-sheet {
  &:before {
    content: $ico-download-sheet;
  }
}
.ico-info {
  &:before {
    content: $ico-info;
  }
}
.ico-linkedin {
  &:before {
    content: $ico-linkedin;
  }
}
.ico-magnifying-glass {
  &:before {
    content: $ico-magnifying-glass;
  }
}
.ico-minus {
  &:before {
    content: $ico-minus;
  }
}
.ico-placemark {
  &:before {
    content: $ico-placemark;
  }
}
.ico-plus {
  &:before {
    content: $ico-plus;
  }
}
.ico-quote-big {
  &:before {
    content: $ico-quote-big;
  }
}
.ico-shopping-basket {
  &:before {
    content: $ico-shopping-basket;
  }
}