.gutenberg-used {
  .gform_wrapper {
    background-color: var(--white-two);
    padding: $margin-small;
    width: 100%;
  }

  .gform_footer {
    input[type='submit'] {
      width: 100%;
    }
  }
}

.gform_wrapper {

  .gform_description {
    margin-bottom: 28px;
    display: block;

    > h4 {
      font-size: 20px;
      font-weight: bold;
      line-height: 1.75;
      color: var(--dark-blue-grey-80);
    }

    > p {
      font-size: 16px;
      line-height: 1.63;
      color: var(--greyish-blue-80);
      opacity: 0.8;
    }
  }

  .gform_title {
    display: none;
  }

  .gform_desc_title {
    font-size: 25px;
    font-weight: bold;
    line-height: 1.4;
    color: var(--dark-blue-grey-80);
    text-transform: uppercase;
    font-family: raleway-bold, 'sans-serif';
    margin-bottom: 10px;
  }

  .gfield_checkbox {
    margin-bottom: 28px;
  }

  .gform_body {
    ul {
      list-style: none;

      .hidden_label {

        > label {
          clip: rect(1px, 1px, 1px, 1px);
          position: absolute;
          height: 1px;
          width: 1px;
          overflow: hidden;
        }
      }

      > li {
        .gfield_checkbox {
          input[type='checkbox'] {
            & + label {
              display: inline;
            }
          }
        }

        &.gfield_error {
          input,
          textarea {
            border: 2px solid red;
          }
        }

        & div[id^='validation_message'] {
          display: none;
        }
      }
    }
  }

  .gform_footer {
    input[type='submit'] {
      @extend .btn;
      @extend .btn--primary;
      padding: 14px 25px
    }
  }
}

// Single Post makes Gravity form sticky
.single-post .gform_wrapper {
  position: sticky;
  top: 15vh;
}

.gform_contact_form_default {
  background-color: var(--white-two);
  padding: $margin-small;
  width: 100%;
}

#gform_wrapper_5 {
  border-top: 6px solid var(--greyish-blue);

  [aria-invalid="true"] {
    border: 1px solid red;
  }
}

#gform_wrapper_2 {
  width: 380px;
  margin: 0 auto;
}