.quote-block-wrapper {
  border-left: 5px solid var(--greyish-blue);
  background-color: var(--white-three);
  padding: $margin-small $margin-xtra-small;
  margin: $margin-small 0;
  display: flex;
  max-width: 440px;

  img {
    width: 100px;
    height: 150px;
    margin-right: 35px;
  }

  .ico {
    &:after {
      color: var(--greyish-blue);
      font-size: 35px;
    }
  }

  p {
    margin-bottom: 0;
  }

  .quote-block {

    &-quote {
      font-family: raleway-bold;
      font-size: 18px;
      font-weight: bold;
      font-style: italic;
      font-stretch: normal;
      line-height: 1.22;
      letter-spacing: normal;
      text-align: left;
      color: var(--dark-blue-grey);
      margin-bottom: 30px;
    }

    &-author {
      font-family: raleway-reg;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2;
      letter-spacing: normal;
      text-align: left;
      color: var(--black-two);
      width: 100%;
      text-align: right;
    }
  }

  // With image & border
  &.is-style-style1 {
    background-color: var(--white-three);
    padding: $margin-small $margin-xtra-small;

    img {
      width: 100px;
      height: 150px;
      margin-right: 35px;
    }

    .ico {
      &:after {
        color: var(--greyish-blue);
        font-size: 35px;
      }
    }

    .quote-block {

      &-quote {
        font-family: raleway-bold;
        font-size: 18px;
        font-weight: bold;
        font-style: italic;
        font-stretch: normal;
        line-height: 1.22;
        letter-spacing: normal;
        text-align: left;
        color: var(--dark-blue-grey);
        margin-bottom: 30px;
      }

      &-author {
        font-family: raleway-reg;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: normal;
        text-align: left;
        color: var(--black-two);
        width: 100%;
        text-align: right;
      }
    }
  }
  
  // With Border - No image
  &.is-style-style2 {
    padding: 30px 85px;

    img { 
      display: none;
    }

    .quote-block {
      &-quote {
        margin-top: 18px;
      }
    }
  }

  // With image - No border
  &.is-style-style3 {
    border-left: none;
  }

  // No image & border
  &.is-style-style4 {
    padding: 30px 85px;
    border-left: none;

    img {
      display: none;
    }

    .quote-block {
      &-quote {
        margin-top: 18px;
      }
    }
  }
  
}