#app-product-gallery {
  border-right: 1px solid var(--border-grey);

  .product-image {
    position: relative;
    margin-bottom: $margin-xtra-small;

    img {
      height: 567px;
      width: 100%;
      object-fit: cover;
      object-position: center;
      font-family: 'object-fit: cover; object-position: center;';
    }

    .react-360-img {
      cursor: all-scroll;
    }

    .slider-buttons {
      visibility: hidden;
      width: 100%;
      position: absolute;
      top: 50%;
      margin-top: -20px;
      display: flex;
      padding: 0 3%;

      .slider-button {
        visibility: visible;
        cursor: pointer;
      }

      .slider-button svg {
        width: 35px;
        height: auto;
        fill: #fff;
        background-color: var(--black-light);
        border-radius: 100%;
        padding: 15%;

        &:hover {
          background-color: var(--grey);
        }
      }

      .slider-button:first-child {
        transform: rotate(180deg);
      }

      .slide-right {
        margin-left: auto;
      }
    }

    .turn-360 {
      position: absolute;
      top: 90%;
      width: 60%;
      left: 21%;
    }

  }

  .product-thumbnails {
    > div {
      padding-bottom: $margin-xtra-small;
    }

    .thumbnail-image {
      border: 1px solid var(--border-grey);
      width: 100%;
      cursor: pointer;
    }
  }
}

.product-gallery {

  &__badge {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .onsale {
      @extend .badge--sale;
    }
  }
}