.font-size {
  &--extra-small {
    font-size: 16px;
  }

  &--small {
    font-size: 20px;
  }

  &--medium {
    font-size: 30px;
  }

  &--large {
    font-size: 38px;
  }

  &--extra-large {
    font-size: 60px;
  }
}

.heading {
  &--extra-small {
    font-family: raleway-reg, sans-serif;
    @extend .font-size--small;
    margin-bottom: $margin-xtra-small;
  }

  &--small {
    font-family: raleway-bold, sans-serif;
    @extend .font-size--medium;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }

  &--medium {
    font-family: raleway-bold, sans-serif;
    @extend .font-size--medium;
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
  }

  &--large {
    font-family: raleway-medium, sans-serif;
    @extend .font-size--large;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }

  &--product-content {
    font-family: raleway-reg, sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &--product-title {
    font-size: 35px;
    font-family: raleway-reg, sans-serif;
    color: var(--dark-blue-grey);

    &:after {
      @extend .border--primary;
    }
  }
}

.brand {
  &--primary {
    text-transform: uppercase;
    color: var(--text-grey);
  }
}

.copy {
  p {
    line-height: 1.75;
    margin-bottom: $margin-small;
    font-family: opensans-reg, 'sans-serif';

    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: var(--faded-blue);
      font-weight: 600;

      &:hover {
        color: var(--dark-blue-grey);
      }
    }
  }

  p:not([class]) {
    line-height: 1.75;
    margin-bottom: $margin-small;
    @extend .font-size--extra-small;
    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: var(--faded-blue);
      font-weight: 600;

      &:hover {
        color: var(--dark-blue-grey);
      }
    }
  }

  ul {
    padding: 0;
    list-style: disc inside;
    line-height: 1.5em;
  }

  h1:not([class]) {
    @extend .heading--large;
  }

  h2:not([class]) {
    @extend .heading--medium;
  }

  h3:not([class]) {
    @extend .heading--small;
  }

  h4:not([class]) {
    @extend .heading--extra-small;
  }

  strong {
    font-weight: 600;
  }
}

.disabled {
  opacity: 0.6;
}
