// #############################################################
// Top navbar
// #############################################################
#service-menu {
  background-color: var(--white);
  border-bottom: 1px solid var(--white-four);
  height: 47px;
  .service-menu {
    &-contact {
      > ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 7px 0;
        @media (min-width: $tablet) {
          flex-direction: row;
          margin-left: -10px;
          padding: 0;
        }
        @media (max-width: 767px) {
          display: none;
        }
        li {
          float: left;
          position: relative;
          height: 100%;
          align-items: center;
          display: flex;
          cursor: pointer;
          > a {
            padding: 0;
            color: var(--warm-grey);
            font-size: 16px !important;
            line-height: 16px;
            @media (min-width: $tablet) {
              padding: 15px 10px;
              font-size: 14px;
            }
            &:hover {
              color: var(--greyish-blue);
            }
            span {
              @media (max-width: $desktop) {
                display: none;
              }
            }
          }
          p {
            color: var(--warm-grey);
          }
        }
      }
    }
  }

  .nav-area {
    display: flex;
    margin-left: auto;
    > ul {
      list-style-type: none;
      > li {
        float: left;
        position: relative;
        height: 100%;
        align-items: center;
        display: flex;
        cursor: pointer;
        border-left: 1px solid var(--white-four);
        &:last-child {
          border-right: 1px solid var(--white-four);
        }
        &.hide-mob {
          @media (max-width: $mobile) {
            display: none;
          }
        }
        > a {
          text-decoration: none;
          font-family: opensans-reg, "sans-serif";
          padding: 15px;
          @media (min-width: $tablet) {
            padding: 15px 25px;
          }
          color: var(--warm-grey);
          @extend .font-size--extra-small;

          &:hover {
            color: var(--greyish-blue);
          }

        }
      }

      &:hover > .sub-menu {
        display: block;
      }

      .sub-menu {
        z-index: 10;
        display: none;
        position: absolute;
        right: 0;
        background-color: var(--white);
        border: 1px solid var(--white);
        top: 100%;
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);

        > li {
          float: left;
          position: relative;
          height: 100%;
          align-items: center;
          display: flex;
          cursor: pointer;

          > a {
            padding: 10px;
            color: var(--black);

            &:hover {
              color: var(--light-blue);
            }
          }
        }
      }




      .account_widget {
        .text:after {
          @extend .ico;
          content: $ico-arrow-down;
          font-size: 9px;
          padding-left: 10px;
        }

        &:hover {
          >.account_widget-popup {
            display: block;
          }
        }
        &-title {
          text-decoration: none;
          font-family: opensans-reg, "sans-serif";
          padding: 15px;
          color: var(--warm-grey);
          .ico {
            @media (min-width: $mobile) {
              padding-right: 5px;
            }
          }
          .text {
            padding: 15px 25px;
            text-decoration: none;
            font-family: opensans-reg, "sans-serif";
            padding: 15px;
            color: var(--warm-grey);

            &::after {
              content: "\E902";
              font-size: 9px;
              padding-left: 10px;
            }
            @media (max-width: $mobile) {
              display: none;
            }
          }
        }
        &:hover {
          .account_widget-title {
            color: var(--greyish-blue);
          }
          .account_widget-popup {
            display: block;
          }
        }
        &-popup {
          display: none;
          position: absolute;
          top: 46px;
          right: -1px;
          width: 220px;
          padding: 30px;
          z-index: 999;
          border: 1px solid var(--white-three);
          background-color: var(--white);
          ul {
            li {
              a {
                display: block;
                padding: 0 0 15px 0;
                margin-bottom: 15px;
                border-bottom: 1px solid var(--white-three);
                color: var(--warm-grey);
                &:hover {
                  color: var(--greyish-blue);
                }
              }
              &:last-child {
                a {
                  padding-bottom: 0;
                  margin-bottom: 0;
                  border-bottom: 0;
                }
              }
            }
          }
          form {
            input[type=text], input[type=password] {
              width: 100%;
              padding: 0 10px;
              height: 40px;
              line-height: 40px;
              border: solid 1px var(--white-two);
              background-color: var(--white);
              margin: 0 0 10px 0;
              font-size: 14px;
              &::placeholder {
                color: #999999;
              }
            }
            .custom-checkbox {
              input[type=checkbox] {
                width: 15px;
                height: 15px;
                border: solid 1px var(--white-two);
                background-color: var(--white);
              }
              label {
                font-size: 14px;
                line-height: 16px;
              }
            }
            span {
              text-decoration: none;
              font-family: opensans-reg, "sans-serif";
              color: #999999;
              font-size: 11px;
              line-height: 1;
            }
            button {
              display: block;
              width: 100%;
              height: 40px;
              margin-top: 25px;
            }
            + a {
              display: block;
              text-align: center;
              margin-top: 15px;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

// #############################################################
// Bottom navbar
// #############################################################
#top-menu {
  position: relative;
  background-color: var(--white);
  min-height: 74px;

  .logo {
    z-index: 1;
    margin-right: auto;
  }

  #main-nav {
    #menu-react-mount {
      .root-menu {
        &.mobile {
          position: absolute;
          background: rgb(255, 255, 255);
          top: 0;
          width: 100%;
          padding: 10px 5vw 15px;
          z-index: -1;
          left: 0;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 28px 7px;
          transition: top .2s;
          .menuItem {
            margin: 0;
            &:hover > .subList {
              display: block;
              box-shadow: 0 0 28px 7px rgba(0, 0, 0, 0.1);
            }

            .subList {
              display: none;
              /*position: absolute;*/
			  margin-left: 15px;
              transition: 0.1s ease-in;
              .subList {
                position: static;
                box-shadow: none;
              }
            }
            a {
              display: block;
              text-decoration: none;
              font-family: opensans-bold, "sans-serif";
              text-transform: uppercase;
              @extend .font-size--extra-small;
              padding: 15px 0;
              color: var(--warm-grey);
              position: relative;
              transition: 0.1s ease-in;
              letter-spacing: 0.9px;
              &:hover {
                color: var(--greyish-blue);
                border-left: 4px solid var(--greyish-blue);
                padding: 15px;
              }
            }
            &.active {
              a {
                color: var(--greyish-blue);
                border-left: 4px solid var(--greyish-blue);
                padding: 15px;
              }
            }
          }
        }
        &.desktop {
          @media (max-width: $desktop) {
            display: none;
          }

          > .menuItem .subList .menuItem {
            margin: 0;
            a {
              padding: 20px 1.5rem;
            }
          }

          > .menuItem .subList .menuItem:hover {

            .subList {
              width: 300px;
              position: absolute !important;
              // right: -300px !important;
              // margin-top: -56px;
            }
          }

          .menuItem {
            margin: 0 1.5rem;
            &:hover {
              > a {
                &:after {
                  border-bottom: 4px solid var(--greyish-blue);
                  content: '';
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  left: 0;
                  width: 100%;
                  transition: 0.1s ease-in;
                }
              }
            }

            &:hover > .subList {
              display: block;
              background-color: var(--white-three);
            }

            .subList {
              display: none;
              position: absolute;
              z-index: 1;
              transition: 0.1s ease-in;
              .subList {
                position: static;
                box-shadow: none;
              }
            }
            a {
              display: block;
              text-decoration: none;
              font-family: opensans-bold, "sans-serif";
              text-transform: uppercase;
              @extend .font-size--extra-small;
              padding: $margin-xtra-small 0;
              color: var(--warm-grey);
              position: relative;
              transition: 0.1s ease-in;
              letter-spacing: 0.9px;
              &:hover {
                color: var(--greyish-blue);
              }
            }
            &.active {
              > a:after {
                border-bottom: 4px solid var(--greyish-blue);
                content: '';
                bottom: 0;
                right: 0;
                left: 0;
                width: 100%;
                position: absolute;
              }
            }
          }
        }

        &.desktop {
          .megamenu {
            > .subList {
              position: absolute;
              left: 0;
              box-shadow: none;
              align-items: flex-start;
              background-color: var(--white-three);
              padding: 50px 5% 30px;
              flex-wrap: wrap;
              > .menuItem {
                &:hover {
                  > a {
                    &:after {
                      content: none;
                    }
                  }
                  > .subList {
                    position: relative!important;
                    width: auto !important;
                  }
                }
                > .subList {
                  > .menuItem {
                    &:hover {
                      a {
                        &:after {
                          content: none;
                        }
                      }
                    }
                    a {
                      &:hover {
                        padding-left: 5px !important;
                        border-left: 5px solid var(--greyish-blue);
                      }
                    }
                  }
                }
              }
              > li {
                flex: 0 0 (100%/3);
                max-width: (100%/3);
                margin: 0;
                margin-bottom: 20px !important;
                padding: 0 15px;
                @media (min-width: breakpoint-min(xl)) {
                  flex: 0 0 (100%/4);
                  max-width: (100%/4);
                }
                @media (min-width: 1400px) {
                  flex: 0 0 (100%/5);
                  max-width: (100%/5);
                }
                a {
                  padding: 0 !important;
                  margin-bottom: 15px;
                  &:hover {
                    &:after {
                      content: none;
                    }
                  }
                  ~ .subList {
                    display: block;
                    padding: 0;
                    li {
                      margin-bottom: 0;
                      a {
                        font-family: opensans-reg, "sans-serif";
                        font-size: 14px;
                        &:hover {
                          padding-left: 5px;
                          border-left: 5px solid var(--greyish-blue);
                        }
                      }
                    }
                  }
                }
                > .subList {
                  > li {
                    margin: 0;
                  }
                }
              }
            }
            &:hover {
              > .subList {
                display: flex;
                margin-left: -15px;
                margin-right: -15px;
                width: calc(100% + 30px);
              }
            }
          }
        }
		
		.menuItem.hidden {
			display: none!important;
		}
      }

      // #############################################################
      // Dropdown menu on hover
      // #############################################################

      // OLD MEGAMENU, i don't know how it's work ((
      // .MegaMenu {
      //   min-height: 200px;
      //   width: 100%;
      //   display: none;
      //   flex-direction: column;
      //   position: absolute;
      //   left: 0 !important;
      //   padding-bottom: $margin;
      //   background-color: #99a8ae;

      //   .MegaMenuList {
      //     display: flex;
      //     position: relative;
      //     top: 0;
      //     left: 0; // default

      //     div {
      //       padding-top: 20px;
      //     }

      //     .subList {
      //       display: none;

      //       li {
      //         margin: 0;
      //         display: block;

      //         a {
      //           color: white;
      //           font-size: 13px;
      //           margin: 0;
      //           padding: 12px 0 0 8px;

      //           &:hover {
      //             color: var(--light-blue);
      //           }
      //         }
      //       }
      //     }
      //   }
      // }
    }
  }

  .app-search {
    z-index: 1;
  }
}

// #############################################################
// #############################################################


@media (min-width: $desktop) {
  #top-menu #main-nav #menu-react-mount .root-menu {
    display: flex;
  }

  #main-nav {
    order: inherit;
  }
}

@import "offcanvas.scss";
