.wp-posts-article-slider {

    .slick-track {
        max-height: 700px !important;
    }

    .slick-arrow {
        z-index: 1;
        position: absolute;
        top: 50%;
        color: var(--warm-grey);
        font-size: 18px;
        transition: all .2s;

        &.slick-prev {
            left: -74px;
            padding: 11px 10px;

        }
        &.slick-next {
            right: -74px;
            padding: 11px 12px;
        }
        &:hover {
            transform: scale(1.25);
        }
    }

    .slick-slide {
        padding: 0 10px;
        height: 100%;
    }

    .slick-list {
        margin: 0 -10px;
    }
}