.product {
  > a {
    text-align: center;
    &:hover {
      img {
        opacity: .9;
      }
    }
  }

  img {
    width: 100%;
    object-fit: cover;
    height: 345px;
    min-height: 345px;
    display: block;
    transition: opacity .2s;
    font-family: 'object-fit: cover;';
  }

  .caption {
    min-height: 150px;
    padding: $margin-xtra-small;

    .woocommerce-loop-product__title {
      @extend .font-size--small;
      color: var(--black-two);
      font-family: opensans-semibold, "sans-serif";
      margin-bottom: 14px;
    }

    .woocommerce-Price-amount {
      font-family: opensans-reg, "sans-serif";
      @extend .font-size--small;
      color: var(--warm-grey-two);
    }
  }

  .button {
    margin-bottom: $margin;
  }
}

@media (min-width: $tablet) {
  .product {
    > img {
      min-height: 345px;
    }
  }
}
