.heading-block {

  &-wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 104px auto 92px auto;
    max-width: 760px;
  }

  &-title {
    @extend .heading--large;
    margin-bottom: 23px;
    width: 100%;
    font-size: 40px !important;
    color: var(--dark-blue-grey);
    font-family: raleway-medium, 'sans-serif' !important;
  }

  &-description {
    margin-top: 25px;
    font-size: 18px;
    color: var(--warm-grey);
    font-family: raleway-reg, 'sans-serif' !important;
    width: 100%;
  }

  &-separator {
    background-color: var(--greyish-blue);
    width: 200px;
    height: 4px;
  }
}