.product-details {
    &__wrapper {
        margin-bottom: 30px;
    }
    &__sku {
        color: var(--dark-blue-grey);
        margin-bottom: 10px;

        .tooltip {
            display: inline-block;
            position: relative;
            cursor: pointer;
            &:after {
                content: attr(data-text);
                display: none;
                position: absolute;
                background-color: var(--faded-blue);
                color: #fff;
                font-size: 75%;
                padding: 5px 10px;
                top: calc(100% + 10px);
                left: -5px;
                width: 190px;
            }
            &:before {
                display: none;
                position: absolute;
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 7.5px 10.0px 7.5px;
                border-color: transparent transparent var(--faded-blue) transparent;
                top: 100%;
            }
            &:hover {
                &:after, &:before {
                    display: block;
                }
            }
        }
        .ico {
            margin-right: 10px;
            font-size: 16px;
            top: 2px;
            position: relative;
        }
    }
    &__price {
        margin-bottom: 30px;

         &__from-price {
            color: var(--dark-blue-grey);
         }
    }
    &__related {
        .ico {
            margin-right: 10px;
            font-size: 16px;
            top: 2px;
            position: relative;
        }
    }
    &__quantity {
        &__selectors {
            background-color: var(--white);
            padding: $margin-small;
            > div {
                &:not(.no-border) {
                    border-bottom: solid 1px var(--white-two);
                }
                /* centered text on the second child column inside column 2 */
                > div:nth-child(2) > div > div:nth-child(2) {
                    text-align: center;
                }
                padding: 14px 0;
                span {
                    @extend .font-size--extra-small;
                }
                &:first-child {
                    span {
                        font-family: opensans-bold, 'sans-serif';
                        font-size: 16px;
                        color: var(--dark-blue-grey);
                    }
                }
                &:last-child {
                    margin-top: 100px;
                    @extend .font-size--extra-small;
                }
                /* Total line */
                &:nth-last-child(2) {
                    font-family: opensans-bold, 'sans-serif';
                }
            }
            input[type='text'] {
                text-align: center;
                border: 1px solid var(--white-two);
                margin: 0 6px 0 6px;
                min-width: 30px;
                height: 100%;
                border-radius: 3px;
            }
            .quantity-plus-minus {
                cursor: pointer;
                color: var(--white);
                background-color: var(--faded-blue);
                border: 1px solid var(--faded-blue);
                min-width: 30px;
                height: 30px;
                border-radius: 3px;
            }
        }
        &__selector {
            display: flex;
            > input {
                margin: 0;
                padding: 0;
            }
        }
    }
    &__specifications {
        background-color: var(--white);
        padding: $margin-small;
        > div > div > div {
            &:not(.no-border) {
                border-bottom: solid 1px var(--white-two);
                div:first-child > span {
                    font-family: opensans-bold, 'sans-serif';
                }
                div:last-child > span {
                    float: right;
                }
            }
            padding: 14px 0;
            span {
                @extend .font-size--extra-small;
            }
        }
        &__title {
            font-family: opensans-bold, 'sans-serif';
            font-size: 16px;
            color: var(--dark-blue-grey);
            margin-bottom: 30px;
        }
        &__files {
            a {
                display: block;
                right: 0;
                bottom: 0;
                position: absolute;
                color: #00b388
            }
            .ico {
                font-size: 38px;
            }
            .datasheet {
                position: relative;
                left: 50%;
                font-size: 12px;
                top: 20px;
                color: #00b388
            }
            .submenu {
                padding: 6px;
                font-size: 14px;
                border: none;
                cursor: pointer;
                display: block;
            }
            .dropdown {
                display: inline-block;
                right: 0;
                bottom: 0;
                position: absolute;
                span {
                    cursor: pointer;
                }
                .dropdown-content {
                    display: none;
                    position: absolute;
                    right: 0;
                    background-color: var(--white);
                    border: 1px solid var(--black);
                    top: 100%;
                    width: 150px;
                    a {
                        padding: 6px;
                        color: var(--black);
                        text-decoration: none;
                        display: block;
                        position: relative;
                        @extend .font-size--extra-small;
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
                &:hover {
                    opacity: 0.8;
                    .dropdown-content {
                        display: block;
                    }
                    .datasheet {
                        display: none;
                    }
                }
            }
        }
    }
    &__add_to_cart {
        &__button {
            float: right;
        }
    }
}