.news-card {
  margin-bottom: 30px;
  &-wrapper {
    text-align: center;

    .grid-row {
      justify-content: center;
    }
  }
  &-button {
    text-transform: uppercase;
    color: var(--warm-grey);
    font-family: raleway-bold, sans-serif;
    letter-spacing: 0.9px;
    margin: 0 60px;
  }

  &-separator {
    height: 5px;
    width: 500px;
    border: solid 1px var(--white-three);
    background-color: var(--white-three);
    margin-top: 6px;
  }

  &-inner {
    position: relative;
    width: 100%;
  }

  &-image {
    display: block;
    height: 300px;
    width: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
  }

  &-title {
    border: solid 1px var(--white-two);
    padding: $margin-small;
    @extend .heading--extra-small;
    text-align: center;
    color: var(--dark-blue-grey);
    font-size: 25px;
    line-height: 1.2;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: raleway-reg, 'sans-serif';
  }

  &-hover {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--white);
    border: solid 1px var(--white-two);
    padding: 40px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    @media (max-width: $tablet) {
      padding: 15px;
    }
    &-title {
      flex: 0 100%;
      @extend .heading--extra-small;
      margin: 0;
      color: var(--dark-blue-grey);
    }

    > span {
      flex: 0 100%;

      p {
        font-size: 16px;
        color: var(--dark-blue-grey);
        font-family: raleway-reg, 'sans-serif';
      }
    }

    a {
      padding: 13px 37px;
      text-transform: lowercase;
      font-family: raleway-bold, 'sans-serif';

      &::first-letter {
        text-transform: uppercase;
      }
    }

    &:hover {
      opacity: 1;
    }
  }
}
